<template>
  <q-page padding class="text-center">
    <!-- content -->
    <br />
    <div class="q-gutter-md">
      <div class="q-ma-md text-grey">
        Savings plan helps you save with discipline towards a specific target or
        goal, save funds you won't be using anytime soon and only withdraw them
        as at when due!
      </div>

      <q-input
        outlined
        v-model="title"
        type="text"
        placeholder="London trip"
        label="Plan Title"
      />
      <q-input
        outlined
        v-model.number="targetAmount"
        type="number"
        hint="The overall target amount you'll be reaching"
        label="Overall Target"
      />
      <q-select
        outlined
        emit-value
        v-model="interval"
        label="Interval"
        radio
        :options="intervals"
      />
      <q-input
        outlined
        v-model.number="amountToSave"
        type="number"
        hint="This should be the amount to collect per interval"
        label="Amount to save per interval"
      />

      <q-input
        hint="When this date is reached, this plan will be stopped"
        outlined
        placeholder="End Date"
        v-model="endDate"
        mask="date"
        :rules="['date']"
      >
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy
              ref="qDateProxy"
              transition-show="scale"
              transition-hide="scale"
            >
              <q-date
                v-model="endDate"
                @input="() => $refs.qDateProxy.hide()"
              />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <br />
    </div>

    <div class="q-pa-m fixed-bottom">
      <q-btn
        large
        size="lg"
        class="full-width"
        icon-right="mdi-arrow-right"
        color="primary"
        label="create Plan"
        @click="createPlan"
      ></q-btn>
    </div>
  </q-page>
</template>

<script>
export default {
  title: "Create Plan",
  data() {
    return {
      title: "",
      targetAmount: "",
      interval: "",
      amountToSave: "",
      endDate: "",

      intervals: [
        { label: "Daily", value: "daily" },
        { label: "Weekly", value: "weekly" },
        { label: "Monthly", value: "monthly" }
      ]
    };
  },
  methods: {
    createPlan() {
      let sendingData = {
        title: this.title,
        targetAmount: this.targetAmount,
        interval: this.interval,
        amountToSave: this.amountToSave,
        endDate: this.endDate
      };
      this.$store.dispatch("CREATE_PLAN", sendingData);
    }
  }
};
</script>
