<template>
  <q-page padding class="q-gutter-md text-center">
    <!-- content -->

    <br />
    <div class="q-ma-md text-grey">
      Savings plan helps you save with discipline towards a specific target or goal,
      feel free to tweak your details as you like
    </div>

    <q-input outlined v-model="title" type="text" label="Plan Title" />
    <q-input outlined v-model.number="targetAmount" type="number" label="Overall Target" />
    <q-select outlined emit-value v-model="interval" label="Interval" radio :options="intervals" />
    <q-input
      outlined
      v-model.number="amountToSave"
      type="number"
      label="Amount to save per interval"
    />

    <q-input outlined placeholder="End Date" v-model="endDate" mask="date" :rules="['date']">
      <template v-slot:append>
        <q-icon name="event" class="cursor-pointer">
          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
            <q-date v-model="endDate" @input="() => $refs.qDateProxy.hide()" />
          </q-popup-proxy>
        </q-icon>
      </template>
    </q-input>
    <q-btn rounded color="primary" icon="mdi-arrow-right" label="update Plan" @click="updatePlan" />
  </q-page>
</template>

<script>
export default {
  title: "Edit Plan",
  data() {
    return {
      title: "",
      targetAmount: "",
      interval: "",
      amountToSave: "",
      endDate: "",

      intervals: [
        { label: "Daily", value: "daily" },
        { label: "Weekly", value: "weekly" },
        { label: "Monthly", value: "monthly" }
      ]
    };
  },
  computed: {
    planID() {
      return this.$route.params.planID;
    },
    plan() {
      return this.$store.getters.getPlan(this.planID);
    }
  },
  mounted() {
    this.title = this.plan.title;
    this.targetAmount = this.plan.targetAmount;
    this.interval = this.plan.interval;
    this.amountToSave = this.plan.amountToSave;
    this.endDate = this.plan.endDate;
  },
  methods: {
    updatePlan() {
      let sendingData = {
        title: this.title,
        targetAmount: this.targetAmount,
        interval: this.interval,
        amountToSave: this.amountToSave,
        endDate: this.endDate,
        planID: this.plan.id
      };
      console.log(sendingData);
      this.$store.dispatch("UPDATE_PLAN", sendingData);
    }
  }
};
</script>
