<template>
  <q-page padding>
    <q-banner
      inline-actions
      rounded
      v-if="isAppOutdated"
      class="bg-orange text-white"
    >
      Hello
      <b>{{ user.fullName.split(" ")[1 || 0].toLowerCase() }}</b
      >, your app is currently outdated, to make sure that your account is not
      compromised, visit the app store to update!
    </q-banner>
    <br />

    <div class="row justify-center q-gutter-md">
      <div class="col-5">
        <q-card>
          <q-card-section>
            <div class="text-subtitle2">Savings</div>
            <br />
            <div class="text-h6 text-bold">
              {{ totalPlanAmount | currency }}
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-5">
        <q-card>
          <q-card-section>
            <div class="text-subtitle2">Bonus</div>
            <br />
            <div class="text-h6 text-bold">{{ 0 | currency }}</div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-5">
        <q-card
          v-ripple
          @click="$router.push({ name: 'CreatePlan' })"
          class="text-center"
        >
          <q-card-section>
            <q-icon size="80px" class="text-grey" name="mdi-plus" />
          </q-card-section>
        </q-card>
      </div>
    </div>
    <br />
    <b>Rex List</b>
    <q-list class="mt-12">
      <q-item
        v-for="(list, i) in lists"
        :key="i"
        clickable
        v-ripple
        :to="list.to"
      >
        <q-item-section avatar>
          <q-icon color="primary" name="mdi-format-quote-open" />
        </q-item-section>
        <q-item-section>{{ list.title }}</q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
export default {
  title: "Home",
  computed: {
    totalPlanAmount() {
      return this.$store.getters.getTotalPlanAmount;
    },
    lists() {
      let todoList = [
        // { title: "Quick Save", to: "/quick-save" },
      ];
      if (!this.user.bank?.value) {
        todoList.push({
          title: "Edit Bank Details",
          to: "/update-bank-info",
          icon: ""
        });
      }

      // if (!this.user.emailStatus !== "confirmed") {
      //   todoList.push({
      //     title: "Verify your email address",
      //     to: "/verify-email"
      //   });
      // }

      todoList.push({ title: "Withdraw", to: "/withdraw" });
      return todoList;
    }
  }
};
</script>
