<template>
  <q-page class="text-center" padding>
    <!-- content -->
    <img :src="require('../statics/app-logo-128x128.png')" style="width:30vw;max-width:150px;" />

    <q-carousel navigation swipeable infinite :autoplay="3000" v-model="slide" height="500px">
      <q-carousel-slide name="first">
        <q-img no-default-spinner transition="none" :src="require('../statics/intro/savings.svg')" />
        <div class="text-h4 text-bold">Build your plan with ease and discipline!</div>
      </q-carousel-slide>
      <q-carousel-slide name="second">
        <q-img
          no-default-spinner
          transition="none"
          :src="require('../statics/intro/lock-fund.svg')"
        />
        <div class="text-h4 text-bold">Lock funds you don't want to touch!</div>
      </q-carousel-slide>
      <q-carousel-slide name="third">
        <q-img no-default-spinner transition="none" :src="require('../statics/intro/goals.svg')" />
        <div class="text-h4 text-bold">Set multiple targets and reach them!</div>
      </q-carousel-slide>
    </q-carousel>

    <q-footer class="bg-white q-ma-md">
      <q-btn
        push
        glossy
        size="15px"
        style="width:160px"
        color="primary"
        rounded
        label="signup"
        to="/signup"
      />&nbsp;&nbsp;
      <q-btn
        push
        glossy
        size="15px"
        outline
        style="width:160px"
        color="primary"
        rounded
        label="login"
        to="/login"
      />
    </q-footer>
  </q-page>
</template>

<script>
export default {
  name: "Intro",
  data() {
    return {
      slide: "first"
    };
  }
};
</script>
