<template>
  <q-page padding>
    <div class="row justify-center q-gutter-md">
      <div class="col-12">
        <q-card>
          <q-card-section>
            <div class="text-h6">Total Savings</div>
            <div class="text-h6 text-bold">{{ totalPlanAmount | currency }}</div>
          </q-card-section>
        </q-card>
      </div>

      <div v-for="(plan, i) in plans" :key="i" class="col-5">
        <q-card v-ripple @click="$router.push(`/plan/${plan.id}`)">
          <q-card-section>
            <div class="text-h6 ellipsis">{{ plan.title }}</div>
            <div class="text-h6 text-bold">{{ plan.currentAmount | currency }}</div>
            <div class="text-grey">
              {{ plan.amountToSave | currency }}
              {{ plan.interval }}
            </div>
          </q-card-section>
        </q-card>
      </div>
      <div class="col-5">
        <q-card v-ripple @click="$router.push({ name: 'CreatePlan' })" class="text-center">
          <q-card-section>
            <q-icon size="80px" class="text-grey" name="mdi-plus" />
          </q-card-section>
        </q-card>
      </div>
    </div>
    <br />
    <br />
    <b>Plan Options</b>
    <q-list class="mt-12">
      <q-item v-for="(list, i) in lists" :key="i" clickable v-ripple :to="list.to">
        <q-item-section avatar>
          <q-icon color="primary" name="mdi-format-quote-open" />
        </q-item-section>
        <q-item-section>{{ list.title }}</q-item-section>
      </q-item>
    </q-list>
  </q-page>
</template>

<script>
export default {
  title: "Plans",
  data() {
    return {
      lists: [
        // { title: "Quick Save", to: "/quick-save" },
        { title: "Withdraw", to: "/withdraw" },
        { title: "Update Profile", to: "/update-info" },
      ]
    };
  },
  computed: {
    totalPlanAmount() {
      return this.$store.getters.getTotalPlanAmount;
    },
    plans() {
      return this.$store.state.plan.plans;
    }
  }
};
</script>
