<template>
  <q-page padding>
    <q-banner
      inline-actions
      v-if="plan.isPaused && plan.hasActiveSubscription"
      rounded
      class="bg-orange text-white"
    >
      This plan is
      <b>paused</b>
      <template v-slot:action>
        <q-btn @click="runAction('Resume Plan', '/')" flat label="Resume" />
      </template>
    </q-banner>
    <q-banner v-if="!plan.hasActiveSubscription" rounded class="bg-red q-mt-sm text-white">
      This plan currently don't have an active subscription or is not yet
      activated
      <b>Activated</b>
      <template v-slot:action>
        <q-btn flat @click="activatePlan" label="Activate" />
      </template>
    </q-banner>
    <br />
    <!-- content -->
    <div class="row justify-center q-gutter-md">
      <div class="col-12 text-center">
        <q-card>
          <q-card-section>
            <div class="text-h6">Current Amount</div>
            <div class="text-h6 text-bold">{{ plan.currentAmount | currency }}</div>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-5">
        <q-card v-ripple @click="$router.push(`/plan/${plan.id}`)">
          <q-card-section>
            <div class="text-h6">Depositing</div>
            <div class="text-h6 text-bold">{{ plan.amountToSave | currency }}</div>
            <div class="text-grey">{{ plan.interval }}</div>
          </q-card-section>
        </q-card>
      </div>

      <div class="col-5">
        <q-card v-ripple @click="$router.push(`/plan/${plan.id}`)">
          <q-card-section>
            <div class="text-h6">Goal</div>
            <div class="text-h6 text-bold">{{ plan.targetAmount | currency }}</div>
            <div class="text-grey">{{ plan.endDate }}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>

    <br />
    <q-list dense class="mt-12">
      <q-item v-if="plan.lastChargedDate">
        <q-item-section>Last charged date</q-item-section>
        <q-item-section class="text-bold">{{ plan.lastChargedDate | moment("from") }}</q-item-section>
      </q-item>
      <q-item>
        <q-item-section>Reaching goal</q-item-section>
        <q-item-section class="text-bold">{{ plan.endDate | moment("from") }}</q-item-section>
      </q-item>
    </q-list>

    <br />
    <b>{{ plan.title.toUpperCase() }} options</b>
    <q-list class="mt-12">
      <q-item
        v-for="(list, i) in lists"
        :key="i"
        clickable
        v-ripple
        @click="runAction(list.title, list.to)"
      >
        <q-item-section avatar>
          <q-icon color="primary" name="mdi-chart-bubble" />
        </q-item-section>
        <q-item-section>{{ list.title }}</q-item-section>
      </q-item>
    </q-list>

    <!-- {{ plan }} -->
  </q-page>
</template>

<script>
export default {
  computed: {
    lists() {
      let lists = [
        { title: "Edit plan", to: "/edit-plan/" + this.plan.id }
        // { title: "Quick Save", to: "/quick-save" }
      ];

      if (this.plan.hasActiveSubscription) {
        lists.push(
          {
            title: "Withdraw",
            to: "/withdraw/?planID=" + this.plan.id
          },
          {
            title: this.plan.isPaused ? "Resume Plan" : "Pause Plan",
            to: "/quick-save"
          }
        );
      }
      return lists;
    },
    planID() {
      return this.$route.params.planID;
    },
    plan() {
      return this.$store.getters.getPlan(this.planID);
    }
  },
  mounted() {
    this.$store.state.navTitle = this.plan.title;
  },
  methods: {
    activatePlan() {
      window.open(this.plan.authorizationUrl);
    },
    runAction(what, to) {
      console.log(what);
      if (what == "Pause Plan" || what == "Resume Plan") {
        this.$store.dispatch("TOGGLE_PAUSE_PLAN", {
          planID: this.plan.id,
          isPaused: (this.plan.isPaused = !this.plan.isPaused)
        });
      } else {
        this.$router.push(to);
      }
    }
  }
};
</script>
