<template>
  <q-page padding class="text-center">
    <div class="q-gutter-md">
      <div class="q-ma-md text-grey">
        Enter an amount then select the account you would like to withdraw from,
        please note that a 10% charge will be deducted automatically if you
        withdraw before the due date, this ensures strict rules in your plan!
      </div>
      <q-form v-model="valid" class="q-gutter-md">
        <q-input
          outlined
          :rules="requiredRules"
          v-model.number="amount"
          type="number"
          label="Amount"
          placeholder="1000"
        />

        <q-select
          v-model="plan"
          outlined
          :rules="requiredRules"
          emit-value
          label="Plan to withdraw from"
          radio
          :options="plans"
        />
      </q-form>
    </div>

    <div class="q-pa-m fixed-bottom">
      <q-btn
        large
        size="lg"
        class="full-width"
        icon-right="mdi-arrow-right"
        color="primary"
        label="break funds"
        :disable="!valid"
        @click="withdraw"
      ></q-btn>
    </div>
  </q-page>
</template>

<script>
export default {
  title: "Withraw",
  computed: {
    plans() {
      let plans = [];
      let __plans = this.$store.state.plan?.plans;
      __plans.forEach(plan => {
        plans.push({
          label: plan.title,
          value: plan.id
        });
      });
      return plans;
    }
  },
  data() {
    return {
      valid: false,
      amount: "",
      plan: "",
      requiredRules: [v => !!v || "this field is required"]
    };
  },
  mounted() {
    this.ensureFingerprint();
  },
  methods: {
    withdraw() {
      let __data = {
        amount: this.amount,
        planID: this.plan
      };
      this.$store.dispatch("WITHDRAW", __data);
    }
  }
  // name: 'PageName',
};
</script>
