<template>
  <q-page padding>
    <!-- content -->
    <div class="text-center">
      <q-avatar size="100px">
        <q-img
          :src="`https://api.adorable.io/avatars/116/${user.id}.png`"
          spinner-color="primary"
          spinner-size="82px"
        />
      </q-avatar>
      <div class="text-h6">{{ user.fullName }}</div>
      {{ user.emailAddress }}
      <br />
      <br />

      <div class="text-left">
        <q-list class="mt-12">
          <q-item v-for="(list, i) in lists" :key="i" clickable v-ripple @click="goto(list.to)">
            <q-item-section avatar>
              <q-icon color="primary" :name="list.icon" />
            </q-item-section>
            <q-item-section>{{ list.title }}</q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  title: "Profile",
  data() {
    return {
      lists: [
        { title: "Bank Setting", icon: "mdi-bank", to: "/update-bank-info" },
        {
          title: "Profile Setting",
          icon: "mdi-account-cog",
          to: "/update-info"
        },
        { title: "Withdraw Funds", icon: "mdi-download-lock", to: "/withdraw" },
        // { title: "Contact Us", icon: "mdi-call-merge", to: "contact" },
        { title: "Logout", icon: "mdi-logout", to: "/logout" }
      ]
    };
  },
  methods: {
    goto(where) {
      this.$router.push(where);
    }
  }
};
</script>
