// app global css in SCSS form
@font-face {
  font-family: "JosefinSans";
  src: url("../fonts/JosefinSans-Regular.ttf");
}

body {
  font-family: JosefinSans;
}

.primary-border {
  border-color: $primary;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}

.q-card {
  /* background: #efeeee; */
  /* box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83),
    6px 6px 16px 0 rgba(217, 219, 200, 0.51); */
  border-radius: 20px;
  vertical-align: top;

  box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83),
    6px 6px 16px 0 rgba(217, 219, 200, 0.51);
}
