<template>
  <div>
    <q-toolbar>
      <q-btn flat round dense icon="mdi-arrow-left" class="q-mr-sm" @click="back" />
      <q-toolbar-title>Forgot Password</q-toolbar-title>
    </q-toolbar>
    <h4 class="text-center">Account Rcovery</h4>
    <q-form v-model="valid">
      <div class="q-pa-md">
        <q-input
          outlined
          v-model.trim="email"
          placeholder=" Enter your Email Address"
          :rules="EmailRules"
        >
          <template v-slot:prepend>
            <q-icon name="mdi-email-check" />
          </template>
        </q-input>

        <q-btn @click="validate" label="recover" rounded color="primary" :disable="!valid"></q-btn>
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      valid: false,
      email: "",
      EmailRules: [v => !!v || "Email Address is required"]
    };
  },
  methods: {
    validate() {
      this.$q.dialog({
        title: "Message",
        message:
          "Sorry, this function is yet to be implemented, hopefully in the next version of the app!"
      });
    },
    back() {
      this.$router.push("./login");
    }
  }
};
</script>
