<template>
  <q-page class="q-pa-md text-center">
    <q-toolbar class="text-primary">
      <q-toolbar-title class="text-white">PiggyRex</q-toolbar-title>
    </q-toolbar>

    <img
      :src="require('../../statics/app-logo-128x128.png')"
      style="width:30vw;max-width:150px;"
    />

    <p class="text-center" style="font-size:30px">Login</p>
    <div>Welcome back, securely login into your piggyrex account</div>
    <br />
    <!-- form -->
    <q-form v-model="valid">
      <div>
        <q-input
          outlined
          v-model.trim="identifier"
          label="Identifier"
          hint="This maybe your phone, email or username"
          placeholder="Username, Email or Phone"
          :rules="identifierRules"
        >
          <template v-slot:prepend>
            <q-icon name="mdi-account" />
          </template>
        </q-input>

        <br />
        <q-input
          v-model.trim="password"
          outlined
          :type="isPwd ? 'password' : 'text'"
          label="Your Password"
          placeholder="xxxxxxxxxx"
          :rules="passwordRules"
        >
          <template v-slot:prepend>
            <q-icon name="mdi-key" />
          </template>
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>
      </div>

      <q-btn
        @click="doLogin"
        icon="mdi-arrow-right"
        label="Login"
        color="primary"
        rounded
        push
        glossy
        size="15px"
        style="width:200px"
        :disable="!valid"
      ></q-btn>
    </q-form>
    <!-- /// -->

    <br />

    <!-- link -->
    <div class="row justify-center q-pa-md q-gutter-md">
      <router-link to="./signup" style="text-decoration:none">
        <p class="text-black">Don't have an account? Create one</p>
      </router-link>
      <!-- <router-link to="./forgot-password" style="text-decoration:none">
        <p class="text-black">Forgot Password</p>
      </router-link>-->
    </div>
    <q-btn
      flat
      :loading="hasTapped"
      v-if="isFingerprintEnrolled"
      @click="popoutBiometricDialog"
      size="40px"
      color="grey"
      icon="mdi-fingerprint"
    />
    <!-- //// -->
  </q-page>
</template>

<script>
import { FingerprintAIO } from "@ionic-native/fingerprint-aio";
export default {
  name: "login",
  computed: {
    // if there's a previous `jwt` token present ..
    // .. it means that the user has previously logged in but has it's state logged out
    isFingerprintEnrolled() {
      return !!this.$q.cookies.get("jwt");
    }
  },
  data() {
    return {
      hasTapped: false,
      lists: [
        { title: "Check an ID", to: "/check-id" },
        { title: "Faq", to: "/faq" },
        { title: "User Agreement", to: "/agreement" },
        { title: "Support", to: "/support" }
      ],

      valid: false,
      identifier: "",
      password: "",

      isPwd: true,
      identifierRules: [v => !!v || "Identifier is required"],
      passwordRules: [v => !!v || "Password is required"]
    };
  },
  methods: {
    // this triggers the native fingerprint box
    popoutBiometricDialog() {
      this.hasTapped = !this.hasTapped;
      setTimeout(() => {
        this.hasTapped = !this.hasTapped;
      }, 2000);

      FingerprintAIO.show({
        title: "Verify fingerprint"
      }).then(() => {
        this.tryFingerprintAuth();
      });
    },
    //  this commits the actions fro the fingerprint auth
    tryFingerprintAuth() {
      this.$store
        .dispatch("INIT")
        .then(() => {
          // page must be reloaded because of critical Headers in axios
          location.href = "/#/";
        })
        .catch(e =>
          this.$q.dialog({
            title: "Oops",
            message:
              "Sorry the fingerprint authentication failed, please try logging with your email and password, but if the problem still occurs, please contact our support team!"
          })
        );
    },
    doLogin() {
      this.$store.dispatch("LOGIN", this.$data);
    }
  }
};
</script>
