<template>
  <q-page padding>
    <!-- content -->
  </q-page>
</template>

<script>
export default {
  created() {
    let cookies = this.$q.cookies.getAll();
    for (let cookie in cookies) {
      localStorage.clear();
      // Don't remove the `jwt` just in case of fingerprint auth during `login`
      if (cookie !== "jwt") {
        this.$q.cookies.remove(cookie);
      }
    }
    // this.$store.dispatch()
    this.$router.push("/intro");
  }
};
</script>
