<template>
  <div class="text-center">
    <q-toolbar>
      <q-btn
        flat
        round
        dense
        icon="mdi-arrow-left"
        class="q-mr-sm"
        @click="back"
      />
    </q-toolbar>

    <img
      :src="require('../../statics/app-logo-128x128.png')"
      style="width:30vw;max-width:150px;"
    />

    <p class="text-center" style="font-size:30px">Create an account</p>
    <div>
      Welcome to the world of finacial savings, get started by creating a secure
      account
    </div>
    <!-- form -->
    <q-form v-model="valid">
      <div class="q-pa-md">
        <q-input
          outlined
          v-model="fullName"
          placeholder="Fullname"
          :rules="fullNameRules"
        ></q-input>

        <q-input
          outlined
          v-model.trim="emailAddress"
          placeholder="EmailAddress"
          :rules="emailRules"
        ></q-input>
        <q-input
          outlined
          v-model.trim="phoneNumber"
          placeholder=" Phone Number"
          :rules="phoneNumberRules"
          type="number"
        ></q-input>

        <q-input
          v-model.trim="password"
          outlined
          :type="isPwd ? 'password' : 'text'"
          placeholder="xxxxxxxxxx"
          :rules="[passwordRules.required]"
        >
          <template v-slot:append>
            <q-icon
              :name="isPwd ? 'visibility_off' : 'visibility'"
              class="cursor-pointer"
              @click="isPwd = !isPwd"
            />
          </template>
        </q-input>

        <q-input
          outlined
          v-model.trim="confirm"
          placeholder=" Confirm Password"
          :rules="[passwordRules.confirmed, passwordRules.required]"
        ></q-input>
      </div>
    </q-form>
    <div class="q-pa-m fixed-bottom">
      <q-btn
        size="lg"
        class="full-width"
        icon-right="mdi-arrow-right"
        color="primary"
        @click="createAccount"
        label="Create account"
        :disable="!valid"
      ></q-btn>
    </div>
    <!-- // -->
  </div>
</template>

<script>
export default {
  name: "register",
  data() {
    return {
      valid: false,
      isPwd: true,
      emailAddress: "",
      phoneNumber: "",
      fullName: "",
      password: "",
      confirm: "",
      fullNameRules: [v => !!v || "First name is required"],
      emailRules: [v => !!v || "Email is required"],
      phoneNumberRules: [v => !!v || "Phone Number is required"],
      userNameRules: [v => !!v || "Phone Number is required"],
      passwordRules: {
        required: v => !!v || "Password is required",
        confirmed: v => v == this.password || "Password's don't match"
      }
    };
  },
  methods: {
    createAccount() {
      if (this.valid) {
        this.$store.dispatch("REGISTER", this.$data);
      }
    },

    back() {
      this.$router.push("./login");
    }
  }
};
</script>
