<template>
  <div id="q-app">
    <q-pull-to-refresh @refresh="refresh" color="primary">
      <router-view />
    </q-pull-to-refresh>
  </div>
</template>

<script>
import { Plugins } from "@capacitor/core";
import { QSpinnerPuff as QSpinnerGears } from "quasar";

//@capacitor
const { StatusBar } = Plugins;
StatusBar.setBackgroundColor({ color: "#295fa6" });
StatusBar.show();

export default {
  name: "App",
  // created() {
  //   console.log(process.env.DEV);
  // },
  mounted() {
    this.$q.loading.setDefaults({
      spinner: QSpinnerGears
    });

    // don't initialize for login, signup and home
    // prettier-ignore
    let testName = /(login|signup|auth|intro)/.test(window.location.hash.replace("#/", ""));
    if (!testName) {
      this.$store.dispatch("INIT");
    }
  },
  methods: {
    refresh(done) {
      setTimeout(() => {
        this.$store.dispatch("INIT");
        done();
      }, 1000);
    }
  }
};
</script>
