<template>
  <q-page padding class="text-center">
    <div class="q-ma-md text-grey text-center">
      Make sure your details are upto date with your bank to prevent errors
      while trying to refund your account!
    </div>
    <q-form v-model="valid">
      <q-input
        outlined
        v-model.trim="fullName"
        placeholder="Fullname"
        :rules="fullNameRules"
      ></q-input>

      <q-input
        outlined
        v-model.trim="emailAddress"
        placeholder="EmailAddress"
        :rules="emailRules"
      ></q-input>

      <q-input
        outlined
        v-model.trim="phone"
        placeholder=" Phone Number"
        :rules="phoneRules"
        type="phone"
      ></q-input>
      <!--
        <q-input
          v-model.trim="password"
          outlined
          :type="isPwd ? 'password' : 'text'"
          placeholder="xxxxxxxxxx"
          :rules="[passwordRules.required]"
        >
      </q-input>-->
      <div class="q-pa-m fixed-bottom">
        <q-btn
          large
          size="lg"
          class="full-width"
          icon-right="mdi-arrow-right"
          color="primary"
          label="Edit Profile"
          @click="updateAccount"
          :disable="!valid"
        ></q-btn>
      </div>
    </q-form>
  </q-page>
</template>

<script>
export default {
  title: "Edit Profile",
  data() {
    return {
      valid: false,
      isPwd: true,
      emailAddress: "",
      phone: "",
      fullName: "",
      password: "",

      fullNameRules: [v => !!v || "First name is required"],
      emailRules: [v => !!v || "Email is required"],
      phoneRules: [v => !!v || "Phone Number is required"],
      userNameRules: [v => !!v || "Phone Number is required"],

      passwordRules: {
        required: v => !!v || "Password is required",
        confirmed: v => v == this.password || "Password's don't match"
      }
    };
  },
  beforeMount() {},
  mounted() {
    this.ensureFingerprint();

    this.emailAddress = this.user.emailAddress;
    this.fullName = this.user.fullName;
    this.phone = this.user.phone;
  },
  methods: {
    updateAccount() {
      let __data = {
        fullName: this.fullName,
        password: this.password,
        phone: this.phone,
        emailAddress: this.emailAddress
      };
      if (this.valid) {
        this.$store.dispatch("UPDATE_USER", __data);
      }
    }
  }
};
</script>
