<template>
  <q-layout view="hHh lpR fFf">
    <!-- <q-toolbar class="text-primary">
      <q-toolbar-title class="text-white">Toolbar</q-toolbar-title>
      <q-btn flat round dense icon="more_vert" />
    </q-toolbar>-->

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      right: false
    };
  }
};
</script>