<template>
  <q-layout view="lHh lpr lFf" style="height: 400px" class="rounded-borders">
    <q-header class="bg-white text-black">
      <q-toolbar>
        <div class="text-h6 text-capitalize">{{ navTitle }}</div>
        <q-space></q-space>
        <q-avatar>
          <q-img
            :src="`https://api.adorable.io/avatars/62/${user.id}.png`"
            spinner-color="primary"
            spinner-size="82px"
          />
        </q-avatar>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
      <q-tabs dense no-caps v-model="tab" class="text-primary fixed-bottom">
        <q-tab name="Home" icon="mdi-home" label="Home" />
        <q-tab name="Plans" icon="mdi-floor-plan" label="Plans" />
        <q-tab name="Profile" icon="mdi-account" label="Profile" />
      </q-tabs>
    </q-page-container>
  </q-layout>
</template>
