<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn flat dense round icon="mdi-arrow-left" @click="$router.back()" />&nbsp;
        <q-toolbar-title class="text-capitalize">{{ navTitle }}</q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-page-container>
        <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: "FlatLayout"
};
</script>

